*{
  margin:0; padding:0;
  box-sizing: border-box;
}
button:focus {
  border:none;
  outline: none;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.App-header {
  display:flex;
  flex: 0 1;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: #282c34;
}
.App-header p {
  color:white;
}
.btn {
  padding:12px;
  border:none;
  background-color: #959595;
  color:white;
  transition: ease-in-out .5s;
  box-shadow: none;
  display:flex;
  flex: 0 1;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #191c24;
  transition: ease-in-out .5s;
  cursor:pointer;border-right: 1px dotted #61dafb ;
  color: #61dafb !important;
}
.item-img {
  max-width:120px;
}