* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width:100%;
  min-height: 70vh;
}
button:focus {
  border: none;
  outline: none;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex: 0 1;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: #282c34;
}

.App-header p {
  color: white;
}

.item-img {
  max-width: 120px;
  max-height: 120px;
}

.list-group-item {
  box-shadow: 0 3px 5px rgba(25, 28, 36, 0.5);
  margin-right: 5px;
  margin-top: 15px;
  padding-bottom: 15px;
}
.itemCart-box {
  padding:1em;
  margin-bottom: 10px;
  width:100%;
}
.bb-1 {
  border-bottom: 1px solid black;
}
.b-1 {
  border: 1px dotted black;
}
.loader-box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width:100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}
